<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
	<title>jsPerf</title>
	<subtitle>The latest twenty new or updated jsPerf test cases</subtitle>
	<link rel="self" type="application/atom+xml" href="http://{{domain}}/browse.atom" />
	<link rel="alternate" type="text/html" href="http://{{domain}}/browse" />
	<updated>{{updated}}</updated>
	<id>tag:{{domain}},2010:/browse</id>

{{#each entries}}
	<entry>
		<title>{{title}}</title>
		<author>
			<name>jsPerf</name>
		</author>
		<link rel="alternate" type="text/html" href="http://{{domain}}/{{url}}{{#compare revision 1}}/{{revision}}{{/compare}}" />
		<summary>{{#if info}}{{info}}{{else}}No description entered{{/if}}</summary>
		<id>tag:{{domain}},2010:/{{url}}{{#compare revision 1}}/{{revision}}{{/compare}}</id>
		<published>{{DatetoISOString published}}</published>
		<updated>{{DatetoISOString updated}}</updated>
	</entry>
{{/each}}
</feed>
