  </article>

  <footer>
    <ul>
      <li>
        <h4>Sponsors</h4>
        <p>Hosting generously provided by <a href="https://m.do.co/c/b426e15331e8">DigitalOcean</a> and <a href="https://zeit.co/">Zeit</a></p>

        <p><a href="/sponsor">Learn how to become a sponsor</a></p>
      </li>

      <li>
        <h4>Tests</h4>
        <ul>
          <li>
            <a href="/">Add</a>
          </li>

          {{#if credentials}}
            <li>
              <a href="/browse/{{credentials.displayName}}">My tests</a>
            </li>
          {{/if}}

          <li>
            <a href="/browse">Latest</a>
          </li>
          <li>
            <a href="/popular">Popular</a>
          </li>
        </ul>
      </li>

      <li>
        <h4>Info</h4>
        <ul>
          <li>
            <a href="/faq">FAQ</a>
          </li>
          <li>
            <a href="/testimonials">Testimonials</a>
          </li>
          <li>
            <a href="/contributors">Contributors</a>
          </li>
          <li>
            <a href="https://benchmarkjs.com/">Benchmark.js</a>
          </li>
        </ul>
      </li>

      <li>
        <h4>Contact</h4>
        <ul>
          <li>
            <a href="https://twitter.com/jsperf">Twitter</a>
          </li>
          <li>
            <a href="https://github.com/jsperf/jsperf.com">GitHub</a>
          </li>
          <li>
            <a href="https://webchat.freenode.net/?channels=jsperf">IRC</a>
          </li>
        </ul>
      </li>
    </ul>
  </footer>

  {{#if benchmark}}
    <script src="/public/_js/test.js"></script>
    <script>
      {{#if page.browserscopeID}}
        ui.browserscope.key = '{{ page.browserscopeID }}'
      {{/if}}

      {{#each page.test}}
        ui.add(
          {{{ cleanJsString title }}},
          {
            'defer': {{#compare defer "y" operator="==="}}true{{ else }}false{{/compare}},
            'fn': {{{ cleanJsString code }}}
          }
        );
      {{/each}}

      {{#if page.setup}}
        Benchmark.prototype.setup = {{{ cleanJsString page.setup }}}
      {{/if}}
      {{#if page.teardown}}
        Benchmark.prototype.teardown = {{{ cleanJsString page.teardown }}}
      {{/if}}
    </script>

    {{{ page.initHTML }}}
  {{else}}
    {{#if mainJS}}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.js"></script>

      {{#if debug}}
        <script src="/public/_js/main.src.js"></script>
      {{else}}
        <script src="/public/_js/main.js"></script>
      {{/if}}
    {{/if}}
  {{/if}}

  <script>
    window._gaq=[['_setAccount','UA-6065217-40'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src='https://ssl.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'))
  </script>
</body>
