<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  {{#if headTitle}}
    <title>{{headTitle}} · jsPerf</title>
  {{else}}
    <title>jsPerf: JavaScript performance playground</title>
  {{/if}}

  <link rel="apple-touch-icon" href="/public/apple-touch-icon.png">
  <link rel="shortcut icon" href="/public/favicon.ico">

  {{#if noIndex}}
    <meta name="robots" content="noindex">
    <meta name="referrer" content="origin">
  {{/if}}

  {{#if home}}
    <meta name="description" content="A performance playground for JavaScript developers. Easily create and share test cases and run cross-browser benchmarks to find out which code snippet is most efficient.">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  {{/if}}

  {{#if showAtom}}
    <link href="/{{showAtom.slug}}.atom" rel="alternate" type="application/atom+xml" title="Atom feed for {{#compare showAtom.slug "browse" operator="includes"}}new or updated test cases{{else}}revisions of this test case{{/compare}}">
  {{/if}}

  <link rel="stylesheet" href="/public/_css/{{cssFile}}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/{{hljsCssVer}}/styles/default.min.css">

  <!--[if lt IE 9]>
    <script src="/html5.js"></script>
  <![endif]-->

  {{#if jsClass}}
    <script>document.documentElement.className='js'</script>
  {{/if}}
</head>

<body>
  <article>
  {{#if credentials}}
    <header>
      <em class="buttons">Logged in as <a href={{credentials.raw.html_url}}>@{{credentials.username}}</a></em>
    </header>
  {{/if}}
