<h1>Frequently Asked Questions</h1>
{{> advertisement}}

<ul>
  {{#each faq}}
    <li>
      <a href="#{{slug}}">
        {{{title}}}
      </a>
    </li>
  {{/each}}
</ul>

<dl id="faq">
  {{#each faq}}
    <dt id="{{slug}}">
      {{{title}}}
      <a href="#{{slug}}">#</a>
    </dt>
    <dd>
      {{{answer}}}
    </dd>
  {{/each}}
</dl>
