<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
    <title>{{page.title}}</title>
    <subtitle>The latest revisions for this jsPerf test case</subtitle>
    <link rel="self" type="application/atom+xml" href="http://{{domain}}/{{page.slug}}.atom" />
    <link rel="alternate" type="text/html" href="http://{{domain}}/{{page.slug}}" />
    <updated>{{page.updated}}</updated>
    <id>tag:{{domain}},2010:/{{page.slug}}</id>

    {{#each revisions}}
        <entry>
            <title>{{title}}</title>
            <author>
                <name>{{author}}</name>
            </author>
            <link rel="alternate" type="text/html" href="http://{{../domain}}/{{../page.slug}}{{#compare 1 revision}}/{{revision}}{{/compare}}" />
            <summary>
              {{#if info}}
                {{info}}
              {{else}}
                  No description entered
              {{/if}}
            </summary>
            <id>tag:{{../domain}},2010:/{{../page.slug}}{{#compare 1 revision}}/{{revision}}{{/compare}}</id>
            <published>{{DatetoISOString published}}</published>
            <updated>{{DatetoISOString updated}}</updated>
        </entry>
    {{/each}}
</feed>
