<hgroup>
  <h1>{{addCode page.title}}</h1>
  <h2>JavaScript performance comparison</h2>
</hgroup>

<p class="meta">
  {{#compare 1 page.revision}}
    Revision {{page.revision}} of this test case
  {{else}}
    Test case
  {{/compare}}
  created {{author page.author page.authorURL}}
  <time datetime="{{DatetoISOString page.published}}" pubdate>{{relativeDate page.published}}</time>

  {{#compare page.published page.updated operator="diffRelativeDate"}}
    and last updated <time datetime="{{DatetoISOString page.updated}}">{{relativeDate page.updated}}</time>
  {{/compare}}

  {{#if noIndex}}
    <strong><a href="/{{page.slug}}{{#compare 1 page.revision}}/{{page.revision}}{{/compare}}/publish">Not published yet!</a></strong>
    &middot;
    <a href="/{{page.slug}}{{#compare 1 page.revision}}/{{page.revision}}{{/compare}}/edit">Edit</a>
  {{/if}}
</p>

{{#if info}}
  <section>
    <h2>Info</h2>
    {{markdown info}}
  </section>
{{/if}}

<section id="runner">
  <h2>Test runner</h2>
  <p id="firebug"><strong>Warning! For accurate results, please disable Firebug before running the tests. <a href="/faq#firebug-warning">(Why?)</a></strong></p>
  <p id="java"><strong>Java applet disabled.</strong></p>
  <p id="status"><noscript><strong>To run the tests, please <a href="//enable-javascript.com/">enable JavaScript</a> and reload the page.</strong></noscript></p>
  <div id="controls"><button id="run" type="button"></button></div>
  <table id="test-table">
	<caption>Testing in <span id="user-agent">{{userAgent userAgent}}</span></caption>
  	<thead>
  		<tr>
  			<th colspan="2">Test</th>
  			<th title="Operations per second (higher is better)">Ops/sec</th>
  		</tr>
  	</thead>
  	<tbody>
      {{#each page.test}}
        <tr>
          <th scope="row" id="title-{{inc @index}}">
            <div>
              {{addCode title}}
              {{#if pageInit}}
                <span id="extra-{{inc @index}}"></span>
              {{/if}}
            </div>
          </th>
          <td class="code">
            <pre><code>{{#compare defer "y" operator="==="}}<strong class="col1">// async test</strong><br>{{/compare}}{{highlight code "js"}}</code></pre>
          </td>
          <td id="results-{{inc @index}}" class="results">pending…</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{#compare page.maxRev 2}}
    <p>You can <a href="/{{slug}}{{#compare 1 rev}}/{{rev}}{{/compare}}/edit" rel="nofollow">edit these tests or add even more tests to this page</a> by appending <code>/edit</code> to the URL.</p>
  {{/compare}}
</section>

{{#if page.browserscopeID}}
  <section>
    <h2 id="results">Compare results of other browsers</h2>
    <div id="bs-results"></div>
  </section>
{{/if}}

{{#compare 1 page.maxRev}}
  <section>
    <h2>Revisions</h2>
    <p>You can <a href="/{{slug}}{{#compare 1 rev}}/{{rev}}{{/compare}}/edit" rel="nofollow">edit these tests or add even more tests to this page</a> by appending <code>/edit</code> to the URL.</p>
    <ul>
      {{#each page.revision}}
        {{#compare visible "y" operator="==="}}
        {{!-- TODO: add "or admin session" --}}
          <li {{#compare revision ../revision operator="==="}}class="current"{{/compare}}>
            <a href="/{{slug}}{{#compare 1 revision}}/{{revision}}{{/compare}}">Revision {{revision}}</a>: published {{author author authorURL}}
            <time datetime="{{DatetoISOString published}}" pubdate>
              {{relativeDate published}}
            </time>
            {{#compare published updated operator="diffRelativeDate"}}
              and last updated
              <time datetime="{{DatetoISOString updated}}">
                {{relativeDate updated}}
              </time>
            {{/compare}}
          </li>
        {{/compare}}
      {{/each}}
    </ul>
  </section>
{{/compare}}

{{!-- TODO: include comments --}}
