<h1>Dart Summary</h1>

<ul>
  {{#each points}}
    <li>
      <a href="#{{slug}}">{{title}}</a>
    </li>
  {{/each}}
</ul>

<aside id="donate">
  <h1>Support JavaScript!</h1>
  <p>Speak out if you dig JavaScript and believe it can succeed.</p>
  <a href="//twitter.com/share" class="twitter-share-button" data-text="A Dart through the heart —" data-url="http://jsperf.com/dart" data-count="none" data-via="jsprf">Tweet</a>
  <script src="//platform.twitter.com/widgets.js"></script>
</aside>

<dl id="faq">
  {{#each points}}
    <dt id="{{slug}}">
      <a href="#{{slug}}">#</a>
    </dt>
    <dd>{{{answer}}}</dd>
  {{/each}}
</dl>
