<h1>Popular test cases</h1>

<h2 id="recent">Recent</h2>

<ul>
  {{#each recent}}
    <li>
      <a href="/{{url}}{{#compare revision 1}}/{{revision}}{{/compare}}">{{title}}</a> {{#compare author "" operator="==="}} by {{author}} {{/compare}}
      ({{#if ../admin}}{{hits}} unique visitors - {{/if}}last updated <time datetime="{{DatetoISOString updated}}">{{relativeDate updated}}</time>)
  {{else}}
    <li><em>None</em>
  {{/each}}
</ul>

<h2 id="all-time">All time</h2>

<ul>
  {{#each allTime}}
    <li>
      <a href="/{{url}}{{#compare revision 1}}/{{revision}}{{/compare}}">{{title}}</a> {{#compare author "" operator="==="}} by {{author}} {{/compare}}
      ({{#if ../admin}}{{hits}} unique visitors - {{/if}}last updated <time datetime="{{DatetoISOString updated}}">{{relativeDate updated}}</time>)
  {{else}}
    <li><em>None</em>
  {{/each}}
</ul>
